[submodule "backend"]
	path = backend
	url = https://github.com/jcalvezar/peritajes-server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/jcalvezar/peritajes.git
[submodule "app-mobile"]
	path = app-mobile
	url = git@github.com:jcalvezar/MyCars2025.git
